<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components.css') }}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title or "ml2mqtt" }}</title>
</head>
<body>

<nav>
    <div class="nav-title">
        <a href="{{ url_for('model.home') }}" class="nav-logo">
            <img src="{{ url_for('static', filename='images/ml2mqtt.png') }}" alt="ML2MQTT Logo">
        </a>
      </div>
    
      <div class="nav-links">
        <a href="{{ url_for('model.home') }}" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
        <a href="{{ url_for('model.createModel') }}" class="{% if active_page == 'create_model' %}active{% endif %}">Add Model</a>
        <a href="{{ url_for('log.logs') }}" class="{% if active_page == 'logs' %}active{% endif %}">Logs</a>
      </div>
</nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>